* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Bangers', cursive;
font-family: 'Fontdiner Swanky', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'ZCOOL KuaiLe', cursive; */

body {
    height: 100%;
    background-color: #F0F600;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.scoreboard {
    font-size: 3rem;
    background-color: red;
    height: fit-content;
    align-self: center;
    padding: 2rem;
    font-family: 'Permanent Marker', cursive;
    border-radius: 10px;
}

.scoreboard div {
    background-color: bisque;
    padding: 1rem;
}

#announcement {
    color: #ED1C24;
}

#reset {
    position: absolute;
    top: 80%;
    right: 18%;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Shojumaru', cursive;
    color: #ED1C24;
}



h3 {
    font-family: 'Bangers', cursive;
}
.caption {
    text-align: center;
    font-size: 2rem;
    font-family: 'ZCOOL KuaiLe', cursive; 
}

.container {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Fontdiner Swanky', cursive;
}

.container img {
    height: 300px;
    
}

.versus-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.versus-container h3 {
    font-size: 5rem;
}

.user-container {
    height: 100px;
    text-align: center;
}

.user-container h2 {
    font-size: 5rem;
    font-family: 'Fontdiner Swanky', cursive;
    color: #ED1C24;
    
}

.choose-wisely-text {
    font-size: 4rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-family: 'Permanent Marker', cursive;
}

.choose-wisely-text .rules {
    font-size: 1.5rem;
    color: #ED1C24;
}

.choices-container {
    display: flex;
    justify-content: space-between;
}

.choices-container img {
    cursor: pointer;
    height: 150px;
   
}

.choices-container input {
    display: none;
    
}


.choices-container input:checked + img {
    border: 8px solid red;
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 30%;
    
}

.btn-container {
    
    display: flex;
    justify-content: center;
    margin: 2rem;
}

button {
    font-size: 3rem;
    font-family: 'Bangers', cursive;
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 10px 1px black;
}